<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
  <div th:each="el : ${about}" class="alert alert-info m-2">
    <p th:text="${el.info}"></p>
  </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>